<div class="promo">
    <div class="promocolumn">
        <img src="media/images/raul-gonzalez-escobar-ZpIskW1Tuvc-unsplash.jpg" alt="picture">
    </div>
    <div class="promocolumn">
        <h3>Bine ai venit in magazin online Legume Moldova</h3>
        <p>Beneficiaza de cumparaturi la cele mai bune preturi la tine acasa.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae a aut vitae eveniet similique veritatis fugit impedit cumque incidunt, quo error, voluptas vel corporis dolores. Quaerat minima ipsum nesciunt quis.</p>
    </div>
</div>